[Desktop Entry]
Type=Application
Name=Winbox 3.42
GenericName=Wine
Exec=wine /home/agung/.mygithub/dotfiles/usr-share-applications/winbox64.exe
Terminal=false
Categories=Wine
Icon=/home/agung/.mygithub/dotfiles/usr-share-applications/winbox0.png
